# --- CONFIGURACIÓN GENERAL ---
RESTART_POLICY=always

# --- MONGO DB ---
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=replace_this_value_with_your_custom_password
MONGO_PORT=27017

# --- MYSQL ---
MYSQL_ROOT_PASSWORD=PkvIeob8qrFZ83
MYSQL_DATABASE=mydb
MYSQL_USER=db_user
MYSQL_PASSWORD=replace_this_value_with_your_custom_password
MYSQL_PORT=3306

# --- PHPMYADMIN ---
PHPMYADMIN_PORT=8080

# --- POSTGRESQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_this_value_with_your_custom_password
POSTGRES_DB=postgres_db
POSTGRES_PORT=5432

# --- PGADMIN ---
PGADMIN_DEFAULT_EMAIL=admin@domain.local
PGADMIN_DEFAULT_PASSWORD=replace_this_value_with_your_custom_password
PGADMIN_PORT=8081